footer {
    height: 67px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);


}

#bottom:target{
    animation:blink 500ms alternate;
}

@keyframes blink {
    from { opacity:1; }
    to { opacity:0; }
}


footer ul {
    display: block;
    background-color: rgba(100, 100, 100, 0.6);
    font-size: 20px;
    color: #fff;
    text-align: center;
}

footer li {
    display: inline-block;

}

footer li.middle {
    margin-left: 5vw;
    margin-right: 5vw;
}

footer a {
    color: aqua;
}

